*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(../img/bg6.png) no-repeat; */
    background-image: linear-gradient(red, black);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5%;
    background: rgba(0, 0, 0, 0.081);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.navbar .navbar-logo{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: large;
}
.navbar .navbar-logo span{
    color: red;
}

.navbar .navbar-nav a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size:1rem;
    font-weight: 600;
    margin: 0 1rem;
}
.navbar .navbar-nav a:hover {
    color: rgb(255, 230, 0);
}
.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid rgb(255, 230, 0);
    transform: scaleX(0);
    transition: 0.2s linear;
}
.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}
.navbar .navbar-extra a{

    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}
.navbar .navbar-extra a:hover {
    color: rgb(255, 230, 0);
}

.ckanan{
    position: absolute;
    top: 20%;
    left: 63%;
}

.ckiri{
    position: absolute;
    top: 27%;
    right: 63%;
}

.kotak{
    margin-top: 47px;
    width: 800px;
    display: flex;
    max-width: 850px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.293);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 15px;
    height: 500px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding-right: 10px;   
}

.regis{
    width: 400px;
}
form{
    width: 300px;
    
    /* margin: 60px auto; */
    margin-left: 3.5rem;
    margin-top: 3rem;
    margin-right: 0;
}
h1{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}
hr{
   border-top: 1px solid rgba(255, 255, 255, 0.386);
}
p{
    text-align: center;
    margin: 10px;
}
.right img{
    display: flex;
    margin-top: 1px;
    width: 600px;
    height: 100%;
    padding-right: 120px;
    padding-bottom: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 0;
}

/* 
form label{
    display: block;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
} */

input{
    width: 100%;
    font-size: 16px;
    margin: 8px;
    margin-left: 0;
    border: none;
    background: transparent;
    color: white;
    outline: none;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.577);
}

button {
    border: none;
    outline: none;
    padding: 8px;
    width: 300px;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 16px;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}

.kotak .login form .lupa a{
    font-size: 14px;
    color: brown;
}

.kotak .regis form .lupa a:hover{
    color: rgb(70, 0, 0);
}

button:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

/* Responsive */

/* laptop */
@media (max-width: 1366px){
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 758px){
    html {
        font-size: 62.5%;
    }
    .kotak{

        /* flex-wrap: wrap; */
        width: 70%;
    }
    form{
        width: 444px;
        /* margin: 60px auto; */
        margin-left: 3.5rem;
        margin-top: 3rem;
        margin-right: 0;
    }
    .right img{
        max-width: 0px;
    }
    button{
        margin-left: 75px;
    }
    .ckanan img{
        max-width: 0px;
    }
    .ckiri img{
max-width: 0px;
    }
}

/* Phone */
@media (max-width: 450px){
    html {
        font-size: 55%;
    }
    form{
        width: 250px;
        /* margin: 60px auto; */
        margin-left: 3.5rem;
        margin-top: 3rem;
        margin-right: 0;
    }
    button{
        width: 250px;
        margin-left: 0px;
    }
}