*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: url(../img/bg4.png) no-repeat; */
    background-image: linear-gradient(red, black);
    background-size: cover;
    background-position: center;
    min-height: 609px;

    
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 5%;
    background: rgba(0, 0, 0, 0.081);
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

.navbar .navbar-logo{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: large;
}


.navbar .navbar-nav a{
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size:1rem;
    font-weight: 600;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: rgb(255, 230, 0);
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.1rem;
    border-bottom: 0.1rem solid rgb(255, 230, 0);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra a{
    text-decoration: none;
    font-size: 1rem;
    color: white;
    font-weight: 600;
}

.navbar .navbar-extra a:hover {
    color: rgb(255, 230, 0);
}

.ckanan{
    position: absolute;
    top: 20%;
    left: 53%;
}

.ckiri{
    position: absolute;
    top: 27%;
    right: 53%;
}

.kotak{
    margin-top: 47px;
    width: 500px;
    /* display: flex; */
    max-width: 850px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.293);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: white;
    border-radius: 15px;
    height: 500px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding-right: 10px;   
}
/* .kotak .login .person{
        position: absolute;
        top: 130px;
        left: 400px;
    
} */

.lupas{
    width: 400px;
}

form{
    width: 400px;
    
    /* margin: 60px auto; */
    margin-left: 3.5rem;
    margin-top: 3rem;
    margin-right: 0;
}

h1{
    margin: 20px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}

hr{
   border-top: 1px solid rgba(255, 255, 255, 0.386);
}

p{
    text-align: center;
    margin: 10px;
}

/* .right img{
    display: flex;
    margin-top: 1px;
    width: 600px;
    height: 100%;
    padding-right: 120px;
    padding-bottom: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-left: 0;
} */

/* 
form label{
    display: block;
    font-size: 1rem;
    font-weight: 600;
    padding: 5px;
} */

input{
    width: 100%;
    font-size: 16px;
    margin: 8px;
    margin-left: 0;
    border: none;
    background: transparent;
    color: white;
    outline: none;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.577);
}

button {
    border: none;
    outline: none;
    padding: 8px;
    width: 400px;
    /* height: 34px; */
    color: rgb(0, 0, 0);
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 16px;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
}
.otpic{
    position: absolute;
    bottom: 8%;
    left: 66%;
}

.otpp{
    border: none;
    outline: none;
    padding: 8px;
    text-align: center;
    width: 100px;
    /* height: 34px; */
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;    
    cursor: pointer;
    margin-top: 7px;
    margin-bottom: 15px;
    margin-left: 298px;
    border-radius: 16px;
    color: rgb(255, 0, 0);
    background-color:rgb(255, 255, 255) ;
}
.otpp:hover{
    color: rgb(255, 255, 255);
    background-color:rgb(255, 0, 0) ; 
}


.kotak .lupas form .lupa a{
    font-size: 14px;
    color: brown;
}

.kotak .lupas form .lupa a:hover{
    color: rgb(70, 0, 0);
}

button:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

/* Responsive */

/* laptop */
@media (max-width: 1366px){
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media (max-width: 758px){
    html {
        font-size: 62.5%;
    }
    .kotak{
        max-width: 400px;
    }
    .kotak .lupas{
        display: flex;
        flex-wrap: wrap;
    }
    form{
        width: 350px;
        
        /* margin: 60px auto; */
        margin-left: 2.2rem;
        margin-top: 3rem;
        margin-right: 0;
    }
    button {
        border: none;
        outline: none;
        padding: 6px;
        width: 350px;
    }
    .otpp {
        border: none;
        outline: none;
        padding: 6px;
        width: 100px;
        margin-left: 250px;
    }


/* Phone */
@media (max-width: 450px){
    html {
        font-size: 55%;
    }
    .kotak{
        max-width: 300px;
    }
    .kotak .lupas{
        display: flex;
        flex-wrap: wrap;
    }
    form{
        width: 250px;
        
        /* margin: 60px auto; */
        margin-left: 2.7rem;
        margin-top: 3rem;
        margin-right: 0;
    }
    button {
        border: none;
        outline: none;
        padding: 6px;
        width: 250px;
    }
    .otpp {
        border: none;
        outline: none;
        padding: 6px;
        width: 100px;
        margin-left: 150px;
    }
}
}